code {
    padding: 0 !important;
}

.md-content {
    max-width: 100% !important;
}

.functionDocGrid {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 100%;
    border-left: 1px solid #9ca7add3;
    border-right: 1px solid #9ca7add3;
    border-top: 1px solid #9ca7add3;
    margin-bottom: 30px;
    
}
.functionDocGrid div {
    border-bottom: 1px solid #9ca7add3;
}

.functionDocSig {
    font-size: 20px;
    padding: 10px;
}
.functionDocDesc {
    font-size: 17px;
    padding: 10px;
}
.functionDocReturn {
    font-size: 19px;
    padding: 10px;
}

.functionDocGrid .abstract {
    color: rgb(19, 101, 179);
    font-style: italic;
}
.functionDocGrid .varType,.value {
    color: green !important;
}
.funcName {
    color: #5e55be !important;
}
.varName,.key {
    color: #667580 !important;
}
.varDefault {
    color: #aa3333 !important;
}/*
.functionDocGrid .varBool {
    color: #667580;
}
.functionDocGrid .varStr {
    color: #4ebd61;
}
.functionDocGrid .varNum {
    color: #667580;
}*/
.functionDocGrid .desc {
    
}
.functionDocGrid .varMention:hover {
    color: #2e495c;
    font-weight: bold;
}
.functionDocGrid .returns {
    color: rgb(68, 122, 78);
    font-weight: bold;
}
